h1{color: rgb(121, 202, 55);}
p{font-size: large;
font-weight: bold;}
body{background-image: linear-gradient(to left,blue,teal);}
.slika1{float: left;}
.slika2{float: left;}
.slika3{float: left;}
h2{color: yellow;}